# Visual Studio
.vs/
.vscode/

# Archivos de usuario
*.user
*.suo
*.userosscache
*.userprefs

# Compilados .NET
bin/
obj/

# Paquetes
packages/

# Publicación
*.pubxml
*.pubxml.user
Publicado/

# Configuración sensible
App.config
*.config
*.settings
Settings*.settings
Settings*.Designer.cs
appsettings.json
appsettings.*.json

# Bases de datos locales
*.mdf
*.ldf
*.dbmdl
*.jfm

# Carpeta de respaldos
RESPALDOS/
